@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom {
        font-size: 6em;
        width: 100%;
        outline: none;
        animation: animate 5s linear infinite;
        cursor: context-menu;
    }

    @keyframes animate {
        0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,
        92% {
            color: transparent;
            text-shadow: none;
        }
        18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
            color: #fff;
            text-shadow: 0 0 10px #fff, 0 0 26px #fff, 0 0 39px #fff, 0 0 1px #fff, 0 0 1px #fff
        }
    }
}